@media (min-width: $desktop-width) {
  .social {
    align-items: baseline;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 25px;
  max-width: 182px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 56px;
  }
}
