//Viewports
$modile-width: 320px;
$desktop-width: 800px;
$modile-width-only: 799px;

// Fonts
$font-main: "Arial", sans-serif;
$fs-main: 16px;
$lh-main: 22px;
$fs-desktop-main: 20px;
$lh-desktop-main: 28px;
$fs-accent: 30px;
$lh-accent: 39px;
$fs-accent-desktop: 45px;
$lh-accent-desktop: 54px;
$fs-additional: 12px;
$lh-additional: 15px;
$fs-additional-desktop: 14px;
$lh-additional-desktop: 18px;
$fs-extra: 11px;
$lh-extra: 11px;
$lh-title: 14px;
$fs-main-title: 25px;
$lh-main-title: 33px;
$fs-main-title-desktop: 35px;
$lh-main-title-desktop: 42px;
$fs-product-title: 10px;
$lh-product-title: 15px;


// Color
$basic-black: #000000;
$basic-white: #ffffff;
$spesial-red:#f10d48;
$special-pink: #ffe9da;
$extra-basic-white: rgba(255, 255, 255, 0.6);
$extra-grey: rgba(247, 247, 247, 0.1);
$basic-grey: #b3b3b3;
